<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="loadingService.isLoading"></mat-progress-bar>
<aside class="aside" [class.hidden]="!authService.isLogged || !mobileQuery.matches">
    <button class="flex-left" mat-icon-button routerLink="/" *ngIf="this.location.path()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <a class="flex-right" mat-button (click)="authService.logout()">Cerrar sesión</a>
</aside>
<mat-toolbar class="aside" [class.hidden]="!authService.isLogged || mobileQuery.matches">
    <button class="flex-left" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="flex-right" mat-button (click)="authService.logout()">Cerrar sesión</a>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #snav mode="over">
        <mat-nav-list>
            <ng-container *ngIf="menus">
                <a mat-list-item *ngFor="let menu of menus" [routerLink]="menu.path" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="snav.toggle()">{{menu.name}}</a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <article class="article-container">
            <router-outlet></router-outlet>
        </article>
    </mat-sidenav-content>
</mat-sidenav-container>
