<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="loadingService.isLoading"></mat-progress-bar>
<aside class="aside" *ngIf="authService.isLogged && mobileQuery.matches">
    <button mat-icon-button routerLink="/" *ngIf="this.location.path()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <a class="float-right" mat-button (click)="authService.logout()">Cerrar sesión</a>
</aside>
<mat-toolbar *ngIf="authService.isLogged && !mobileQuery.matches">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <a class="float-right" mat-button (click)="authService.logout()">Cerrar sesión</a>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #snav mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="snav.toggle()">Inicio</a>
            <a mat-list-item routerLink="/col-101" [routerLinkActive]="['active']" (click)="snav.toggle()">COL-101</a>
            <a mat-list-item routerLink="/bulk" [routerLinkActive]="['active']" (click)="snav.toggle()">CARGUE MASIVO</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <article class="article-container">
            <router-outlet></router-outlet>
        </article>
    </mat-sidenav-content>
</mat-sidenav-container>
