.article-container {
    min-height: 77vh;
    height: 100%;
}

.aside {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: baseline;
    width: 100%;
    background: #fff;

    .flex-left {
        align-self: start;
    }

    .flex-right {
        align-self: end;
        margin-left: auto;
    }
}

.hidden {
    display: none;
}