<section class="section-container">
  <mat-card class="file-upload-card">
    <article class="file-upload-article">
      <section [class.hide]="loading">
        <input type="file" multiple="true" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" id="file" (change)="onFileChange($event.target.files)" class="inputfile" />
        <label for="file"><span>Cargar archivo<mat-icon color="primary">cloud_upload</mat-icon></span></label>
      </section>
      <article class="article-progress-spinner" [class.hide]="!loading">
        <section class="section-progress-spinner">
          <mat-progress-spinner [class.loading]="uploadProgress < 100" class="progress-spinner" color="primary" mode="determinate" [value]="uploadProgress"></mat-progress-spinner>
        </section>
        <footer class="footer-progress-spinner">
          <a color="accent" mat-raised-button [disabled]="!hasErrors" [class.hide]="!hasErrors" #downloadLink href="http://tux-designs.com/group-life/errors/bulk_errors.xlsx">Descargar Errores</a>
          <button mat-raised-button color="primary" [disabled]="uploadProgress < 100" (click)="loading = false; uploadProgress = 0">Terminar</button>
        </footer>
      </article>
    </article>
  </mat-card>
</section>